{% extends 'personal/base.html' %} 
{% block title %} Nourah Alqahtani - About {% endblock%}
{% block content %}


<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-4 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle">
       <span class="w3-xxlarge w3-text-white w3-wide">ABOUT ME</span>
    </div>
  </div>


<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">Web Designer/Developer . Graghic Designer</h3>
    <p class="w3-center"><em>NOURAH SAAD ALQAHTANI</em></p>
    <p>Hi! I am Nourah Alqahtani, a web designer/developer focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web design/development since 2018. I enjoy creating beautifully designed, intuitive and functional websites.

      For over past 4 years, I have worked for some of the best digital agencies and wonderful clients to create some award winning works. And, I can make this happen for your business as well.</p>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <p class="w3-large"><b>Nourah Alqahtani</b></p>
        <img src="https://images.pexels.com/photos/1161547/pexels-photo-1161547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
      </div>
  
      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-large ">
        <p><br/><br/><br/><br/>CAREER OBJECTIVE: Seeking to develop my skills and knowledge in the
          field of Technology, to practice my experiences in
          programming and design and develop them. I’m
          eager to work in a motivational and challenging
          environment to gain more knowledge and experience
          towards achieving the organization goals and values.</p>
      </div>
    </div>
    <p class="w3-large w3-center w3-padding-16">Im Really Good At <br></p>
    <p class="w3-wide">GRAHGIC DESIGN</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-wide">WEB DESIGN</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-wide">PHOTOSHOP</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
  </div>
  
  <div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">14+</span><br>
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">55+</span><br>
      Projects Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">89+</span><br>
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150+</span><br>
      Meetings
    </div>
  </div>


{% endblock %}