{% extends 'PersonalApp/base.html' %}
{% load static %}

{%block title%}Roaa Albishri{%endblock%}

{%block content %}
    <div class="container">

        <!-- HOME -->
        <div id="home" class="collapse show">
            <div class="card card-body text-dark py-5"  style="background-color: #eed7c5;">
                <h2>Profile</h2>
                <p class="lead">Bachelore of information Technology from Universty of Jeddah. Interested in programming, design and all area that benefit me and my community</p>
            </div>

            <div class="card card-body py-5">
                <h3>My Skills</h3>
                <p>I'm pleaser to let you know that i have a lot of skilles that will help me to improve our technology in our country</p>
                <hr>
                <h4>HTML 5</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:100%; background-color: #b7b7a4;"></div>
                </div>
                <h4>CSS 3</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:100%; background-color: #b7b7a4;"></div>
                </div>
                <h4>JavaScript</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:90%; background-color: #b7b7a4;"></div>
                </div>
                <h4>Java</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:80%; background-color: #b7b7a4;"></div>
                </div>
                <h4>Python</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:70%; background-color: #b7b7a4;"></div>
                </div>
                <h4>MERN</h4>
                <div class="progress mb-3">
                    <div class="progress-bar" style="width:60%; background-color: #b7b7a4;"></div>
                </div>
            </div>
        </div>

        <!-- RESUME -->
        <div id="resume" class="collapse">
            <div class="card card-body text-white py-5" style="background-color: #c89f9c;">
                <h2>My Resume</h2>
                <p class="lead"></p>
            </div>

            <div class="card card-body py-5">
                <h3>Where Have I Worked?</h3>
                <!-- <p>I'm Fresh graduate, </p> -->
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Saudi Digital Academy</h4>
                            <p class="card-text">I was a web development trainee
                            </p>
                            <p class="p-2 mb-3 bg-dark text-white">
                                Position: Full Stack Developer
                            </p>
                        </div>
                        <div class="card-footer">
                            <h6 class="text-muted">Dates: May 2021 - Aug 2021</h6>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <!-- <img src="PersonalProject/PersonalApp/static/imgs/city.jpeg" alt="width: 20px" > -->
                            <h4 class="card-title">King Abdulaziz City for Science and Technology</h4>
                            <p class="card-text">

                            </p>
                            <p class="p-2 mb-3 bg-dark text-white">
                                Position:  Software Developer
                            </p>
                        </div>
                        <div class="card-footer">
                            <h6 class="text-muted">Dates: Sep 2021 - Present</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- WORK -->
        <div id="work" class="collapse">
            <div class="card card-body text-white py-5" style="background-color: #c97c5d;" >
                <h2>My Works</h2>
                <p class="lead"></p>
            </div>

            <div class="card card-body py-5">
                <h3>What Have I Built?</h3>
                <p>I have built many web app with defferent programming language</p>
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <h3>Java Web App</h3>
                        <a href="JavaApp.mp4" data-toggle="lightbox">
                            <video width="350" height="260" autoplay muted>
                                <source src="{% static 'vidoes/JavaApp.MP4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </a>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-3">
                        <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox">
                            <img src="https://unsplash.it/600.jpg?image=256" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox">
                            <img src="https://unsplash.it/600.jpg?image=257" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://unsplash.it/1200/768.jpg?image=258" data-toggle="lightbox">
                            <img src="https://unsplash.it/600.jpg?image=258" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://unsplash.it/1200/768.jpg?image=259" data-toggle="lightbox">
                            <img src="https://unsplash.it/600.jpg?image=259" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTACT -->
        <div id="contact" class="collapse">
            <div class="card card-bodytext-white py-5" style="background-color: #b36a5e;">
                <h2 class="ml-2">Contact Me!</h2>
                <p class="lead"></p>
            </div>

            <div class="card card-body py-5">
                <h3>Get In Touch</h3>
                <p>If You have any Q / suggestion / work!
                </p>
                <form>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-white" style="background-color: #b36a5e;">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control text-white" style="background-color: #ebe1df45;" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-white" style="background-color: #b36a5e;">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control text-white" placeholder="Email" style="background-color: #ebe1df45;">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-white" style="background-color: #b36a5e;">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </div>
                            <textarea class="form-control bg-light text-dark" placeholder="Whatever You Want !"></textarea>
                        </div>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-block btn-lg" style="background-color: #b36a5e;">
                </form>
            </div>
        </div>


       
    </div>


    {%endblock%}