{% extends 'PersonalApp/base.html' %}
{% load static %}

{%block title%}Roaa Albishri{%endblock%}

{%block content %}
    <div class="container">
        <!-- HOME -->
        <div id="home" class="collapse show">
            <div class="card card-body text-dark py-5"  style="background-color: #eed7c5;">
                <h2>Profile</h2>
                <p class="lead">Bachelore of information Technology from Universty of Jeddah. Interested in programming, design and all area that benefit me and my community</p>
            </div>
            <div class="card card-body py-5">
                <h3>My Skills</h3>
                <p>I'm pleaser to let you know that i have a lot of skilles that will help me to improve our technology in our country</p>
                <hr>
                <h4>HTML 5</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:100%; background-color: #b7b7a4;"></div>
                </div>
                <h4>CSS 3</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:100%; background-color: #b7b7a4;"></div>
                </div>
                <h4>JavaScript</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:90%; background-color: #b7b7a4;"></div>
                </div>
                <h4>Java</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:80%; background-color: #b7b7a4;"></div>
                </div>
                <h4>Python</h4>
                <div class="progress mb-3">
                    <div class="progress-bar " style="width:70%; background-color: #b7b7a4;"></div>
                </div>
                <h4>MERN</h4>
                <div class="progress mb-3">
                    <div class="progress-bar" style="width:60%; background-color: #b7b7a4;"></div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}