{%extends 'AlaaAlfraih/basic.html'%}




{%block par%}

<h1 class="display-4">Experience</h1>

<p class="my-4">

I have two experience, the first was coop training in King Abdulaziz city for science, <br>I trained for three mounth, I work as technical researcher.
<br>
The secound experience was in Ministry of Environment Water and Agriculture, <br>I work as developer programming, it was for six mounth.

 
</p>
{%endblock%}




{%block project%}
<section id="project" class="padse">
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center">
        
          <h1 class="pt-4 " >COOP TRAINING</h1>
          <div class="divider pt-4"></div>
          <p>
            From 27-1-2020 To 3-4-2020 <br>
            I worked in project ECG signal , the project help to process ECG signal which shows the plot of <br>the bio- potential generated
by the activity of the heart and used by physicians to predict and treat various cardiovascular diseases.<br>
             
          </p>

          <div class="pt-4"></div>
         
        </div>
      </div>

      <div class="row">

      
      



       <!-- cook project -->

      
        <div class="col-md-4">

          
          <div class="cook">
            <div class="cook-img">
              <img src="" alt="">
              <div class="icon"> 
                <span class="material-symbols-outlined icon-img">
                    looks_one
                    </span>
              </div>
            </div>
          </div>
            <h5 class="mt-5 pt-4 text-center">First </h5>
            <p class="text-center">
                I downloaded database for a group of people , <br> and I did some process on them 
            </p>

          
          </div>
        
      

         <!-- ------------------------------------------------------ -->
      




          <!-- play project -->
      
        <div class="col-md-4">
          <div class="cook">  <!-- cook -->
            <div class="cook-img"><!-- img -->
              <img src="" alt="">
              <div class="icon">   <!-- icon -->
                  <span class="material-symbols-outlined icon-img">
                    looks_two
                    </span>
              </div> <!-- icon -->
              </div><!-- img -->
            </div>  <!-- cook -->
            <h5 class="mt-5 pt-4 text-center">Secondly </h5>
            <p class="text-center">
                I did smotheing method on signal for one minutes <br> then I did for five minutes <br> and in the past I did for seven minutes.
            </p>
          </div>
        
      

        <!-- ------------------------------------------------------ -->
      




        <!-- shop project -->


      
        <div class="col-md-4">
          <div class="cook">
            <div class="cook-img">
              <img src="" alt="">
              <div class="icon">
                <span class="material-symbols-outlined icon-img ">
                    looks_3
                    </span>
              </div>
            </div>
          </div>
            <h5 class="mt-5 pt-4 text-center">Third</h5>
            <p class="text-center">
                I did segmentation method on signal to saw the change 
            </p>
          </div>
        
      



      <!-- ------------------------------------------------------ -->
    </div>
  </div>
  
  </section>
{%endblock%}




{%block skills%}
<section id="skills" class="imgbackgraondpage3 padse bg-cover hero-section">
    
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center">
          <h1 class="" >TAMHER TRAINING</h1>
          <div class="divider pt-4"></div>
          <p class=" ">
           I trained in Ministry of Environment Water and Agriculturen as developer programming <br>
             From 18-11-2021 To 17-5-2022
          </p>
          <div class="pt-4"></div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">

          
          <div class="cook">
            <div class="cook-img">
              <img src="" alt="">
              <div class="icon"> 
                <span class="material-symbols-outlined icon-img">
                    looks_one
                    </span>
              </div>
            </div>
          </div>
            <h3 class="mt-5 pt-4 text-center sizeSkils"> Web report  </h3>
            <p class="text-center" >
                Review and audit Ministry of Environment Water and Agriculture website <br> and provided reports for website errors, <br> also suggested solutions and ideas <br> to improve the performance .
                
            </p>

          
          </div>



          <div class="col-md-4">

          
            <div class="cook">
              <div class="cook-img">
                <img src="" alt="">
                <div class="icon"> 
                    <span class="material-symbols-outlined icon-img">
                        looks_two
                        </span>
                </div>
              </div>
            </div>
              <h3 class="mt-5 pt-4 text-center sizeSkils">Review reports</h3>
              <p class="text-center">
                Review data warehouse Initiative report and write explaining to them <br>

                Review and audit the brochure of terms and conditions <br> for providing consulting services to develop electronic services <br> and standardize electronic platforms.
                
              </p>

            
            </div>


            <div class="col-md-4">

          
              <div class="cook">
                <div class="cook-img">
                  <img src="" alt="">
                  <div class="icon"> 
                    <span class="material-symbols-outlined icon-img ">
                        looks_3
                        </span>
                  </div>
                </div>
              </div>
                <h3 class="mt-5 pt-4 text-center "> Designed model</h3>
                <p class="text-center">

                    Designed model for data collection.
                 
                </p>

              
              </div>





      </div>
      </div>




  </section>
{%endblock%}