{%extends 'AlaaAlfraih/basic.html'%}




{%block par%}

<h1 class="display-4">Project</h1>

{%endblock%}




{%block project%}

{%endblock%}



{%block skills%}
<section id="skills" class="imgbackgraondpage3 padse bg-cover hero-section">
    
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center">
          <h1 class="" > project </h1>
          <div class="divider pt-4"></div>
          <p class=" ">
          
          </p>

          
          <div class="pt-4"></div>
        </div>
      </div>

     



      </div>
   




  </section>
{%endblock%}