{% extends 'About/base.html' %}
{% load static %}


{% block content %}
<div class="d-flex gap-4">
<div class="animate__animated animate__fadeInDownBig card" style="width: 18rem;">
    <img src="{% static 'images/Tourny1.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">EFC </h5>
      <p class="card-text">This Tournament was My peak in My professional Career as player  i got top 1.9k in EU servers and got 3RD place.</p>
      
    </div>
  </div>
  <div class="animate__animated animate__fadeInBottomLeft card" style="width: 18rem;">
    <img src="{% static 'images/Tourny2.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Saudi eleauge Season One </h5>
      <p class="card-text">This was my first Tournament got MVP of the Tournament but sadly i finished 4th.</p>
      
    </div>
  </div>
  <div class="animate__animated animate__fadeInBottomRight card" style="width: 18rem;">
    <img src="{% static 'images/Tourny3.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gamers8 </h5>
      <p class="card-text">This Tournament was the biggest event for esport in saudi arabia and i am so happy to be a part of it  and it was my first time being analyst for the first Time .</p>
      
    </div>
  </div>
  <div class="animate__animated animate__fadeInRightBig card" style="width: 18rem;">
    <img src="{% static 'images/Tourny4.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Saudi Eleague Season Two </h5>
      <p class="card-text">This was the last saudi eleauge for Dota2 sadly i got 3rd place.</p>
      
    </div>
  </div>
</div>

{% endblock %}

