{% extends 'app1/base.html' %}
{% load static %}
{% block title %} courses {% endblock %}
{% block content %} 
<h2 style="font-family: Papyrus;  font-weight: bold;  "><img src="https://cdn-icons-png.flaticon.com/128/7117/7117327.png" style="width:30px; height: 30px;">
    Database Design and programming with SQL</h2><br>
<p style="font-family: Papyrus; font-size: 19px;"> Oracle Academy - 2019</p>

<h2 style="font-family: Papyrus;  font-weight: bold;  "><img src="https://cdn-icons-png.flaticon.com/128/7117/7117327.png" style="width:30px; height: 30px;">
    Fundamentals of network security</h2><br>
<p style="font-family: Papyrus; font-size: 19px;"> Udemy - 2020</p>
<h2 style="font-family: Papyrus;  font-weight: bold;  "><img src="https://cdn-icons-png.flaticon.com/128/7117/7117327.png" style="width:30px; height: 30px;">
    Data analysis</h2><br>
<p style="font-family: Papyrus; font-size: 19px;"> Misk - 2022</p>



{% endblock %}
{% block image %}<img src="https://images.pexels.com/photos/4050325/pexels-photo-4050325.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 400px; border-radius: 10px;   width:350px; opacity: 0.;"/>{% endblock %}