{% extends 'app1/base.html' %}
{% load static %}
{% block title %} projects {% endblock %}
{% block content %} 
<h2 style="font-family: Papyrus;  font-weight: bold;  "><img src="https://cdn-icons-png.flaticon.com/128/3003/3003992.png" style="width:30px; height: 30px;">
    Database of DR.NIZAR Clinic: </h2><br>
<p style="font-family: Papyrus; font-size: 19px;">Achievements/Tasks : Drawing ERD, Data modeling, Creating tables , Inserting rows , Editing, deleting dat</p>
<h2 style="font-family: Papyrus;  font-weight: bold;"><img src="https://cdn-icons-png.flaticon.com/128/3003/3003992.png" style="width:30px; height: 30px;"> TheMeltycookie website:</h2><br>
<p style="font-family: Papyrus; font-size: 19px;">Achievements/Tasks : Creating and maintaining database, structuring website pages using
    .NET and C# , documentation</p>
    <h2 style="font-family: Papyrus;  font-weight: bold;"> <img src="https://cdn-icons-png.flaticon.com/128/3003/3003992.png" style="width:30px; height: 30px;"> RAFF WEBSITE:</h2><br>
<p style="font-family: Papyrus; font-size: 19px;">ements/Tasks : System analysis , Creating and maintaining database , structuring website pages using HTML and JavaScript, Styling with </p>
{% endblock %}
{% block image %}<img src="{% static 'app1/project.jpg' %}" style="height: 430px; border-radius: 10px;   opacity: 0.; width:350px"/>{% endblock %}