{% extends 'mywebsite/base.html' %}
 {% block title %}<title>Info</title>{% endblock %} 

{% block content %}
            <h1 class= "display-5">My <span class="text-info">Information:</span></h1>
            <p class= "ру-1 lead" ><ul>
                                <li class=" m-2 p-2" >Name: Mohammed</li>
                                <li class=" m-2 p-2" >Number: 0530301190</li>
                                <li class=" m-2 p-2" >Email: Alharimi002@gmail.com</li>
                                </ul>
            </p>
            
 {% endblock %}