<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'my_app/base.html' %}
    <title>{% block title %}ABOUT ME{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h2 class="  display-4 font-weight-normal"><b>ABOUT ME</b></h2>
        </div>
        <section class="about" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <div class="">
                            <p> lam  graduated from taibah university with computer science major,I am junior web developer I recently completed the software development bootcamp with coding dojo ,l learned web fundamental and python and mern and java. I also have web design skills.and have the ability of quick learning and I can understand new technologies very easily. I have flexible workability which helps me to work with any kind of technology.</p>
                            <p>I have a lot of skills because I have a bachelors degree in computer science. I also completed many programming courses, completed coding Dojo, l am capable of front end , back - end and full - stack roles and pick up new languages , frameworks and libraries quickly, And I have worked with a team and have the ability to manage tasks between the team I solve problems and enjoy finding solutions </p>
                           
                        </div>
                        
                        </div>
                    </div>
                </div>




                <div class="about__cta-box text-center">
                    <a href="#" class="btn btn--ghost">
                        Resume
                    </a>
                    <a href="#" class="btn btn--full">Contact</a>
                </div>
            </div>
        </section>
      </div>
    {% endblock %}
    
</body>
</html>