<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'my_app/base.html' %}
    <title>{% block title %}HOME{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="position-relative overflow-hidden text-center bg-light">
        <div class="">
            <h2 class="  display-4 font-weight-normal"><b>My projects</b></h2>

        </div>
        <section class="features2 cid-ssGlc9jWjH" id="features2-6">
            <div class="container">
                <div class="mbr-section-head">
                    <div class="row header">
                        <div class="tab-content">
                                <div class="row justify-content-center">

                                    <div class=" col-sm-12 col-md-6 col-lg-4 mb-5">
                                        <div class="">
                                            <div class="">
                                                <img src="https://res.cloudinary.com/dz209s6jk/image/upload/f_auto,q_auto,w_700/Challenges/m1v21ubdjc2n75bl8p7n.jpg" alt="Project 1" class="img-fluid">
                                            </div>
                                            <div class="">
                                                <h3 class="">Room homepage</h3>
                                                <p class="">This small homepage challenge packs a big punch to test your layout skills. There's also a slider in there to add a JS layer for extra practice.</p>
                                                <div class=" text-center">
                                                    <a href="#" class="btn btn--ghost">
                                                        Demo</a>
                                                    <a href="#" class="btn btn--full">
                                                        Source</a>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 col-md-6 col-lg-4 mb-5">
                                        <div class="">
                                            <div class="">
                                                <img src="https://res.cloudinary.com/dz209s6jk/image/upload/f_auto,q_auto,w_700/Challenges/rlaxdjplmeul4qe1qvh6.jpg" alt="Project 2" class=" img-fluid">
                                            </div>
                                            <div class="">
                                                <h3 class="">Intro section with dropdown navigation</h3>
                                                <p class="">create dropdown navigation menus, a common pattern on larger sites. It will also provide some nice basic layout</p>
                                                <div class=" text-center">
                                                    <a href="#" class="btn btn--ghost">
                                                        Demo</a>
                                                    <a href="#" class="btn btn--full">
                                                        Source</a>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                                        <div class="">
                                            <div class="">
                                                <img src="https://res.cloudinary.com/dz209s6jk/image/upload/f_auto,q_auto,w_700/Challenges/o4iyywkwjc31epcmsmyo.jpg" alt="Project 3" class=" img-fluid">
                                            </div>
                                            <div class="">
                                                <h3 class="">Easybank landing page</h3>
                                                <p class="">Easybank landing page layout skills</p>
                                                <div class=" text-center">
                                                    <a href="#" class="btn btn--ghost">
                                                        Demo</a>
                                                    <a href="#" class="btn btn--full">
                                                        Source</a>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                                        <div class="">
                                            <div class="">
                                                <img src="https://res.cloudinary.com/dz209s6jk/image/upload/f_auto,q_auto,w_700/Challenges/i6wu7n5sthrxgfpfibvx.jpg" alt="Project 4" class=" img-fluid">
                                            </div>
                                            <div class="">
                                                <h3 class="">Single price grid component</h3>
                                                <p class=""> build out the pricing component to the designs provided</p>
                                                <div class=" text-center">
                                                    <a href="#" class="btn btn--ghost">
                                                        Demo</a>
                                                    <a href="#" class="btn btn--full">
                                                        Source</a>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                   
                                  
            </div>
        </section></div>
        
       

    {% endblock %}
    
</body>
</html>