{% extends 'MyWebSite/base.html' %}
{% load static %}
{% block title %} Education {% endblock%} 

{% block content %}
 <header class="w3-display-container w3-content w3-center" style="max-width:1500px;  " >
  <img class="w3-image" src="{% static 'images/imag6.jpg' %}" alt="Me" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center" style="background-color: rgb(200, 223, 231); opacity: 0.8; " >
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge" class="fs-4" style ="color:rgb(8, 8, 8); margin-left: 5px; ">Education:</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">Education:</h5>
    <p style ="color:rgb(8, 8, 8); "> - Bachelor's degree in Information Technology from 
      Imam Muhammad bin Saud Islamic University. <br><br>
      - lntermediate university degree in the Technical 
      Support Department from the Technical College with 
      a GPA of 4.60 out of 5. </p> 

      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge" class="fs-4" style ="color:rgb(7, 7, 7); margin-left: 5px; ">Certificates:</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">Certificates:</h5>
    <p style="text-align: left; margin-left: 60px; color:rgb(8, 8, 8);" > - Configuring windows server <br>
      - CCNA <br>
      - The basics of information technology</p>
    
  </div>
  </header> 

  





  

 



 

 

{% endblock %}
