{% extends 'home.html' %}
{% load static %}
{% block content %}



<br><br>
<h1 >My Education :</h1> <br><br>



<div class="container">

    


    <h5 style="text-align:center; background-color:rgba(250, 247, 243, 0.215)  ; font-family:Arial, Helvetica, sans-serif; text-align: center; font-size: 100%;">
        I'm Graduated from Imam Muhammad Ibn Saud islamic University<br>
        Bachelor's degree in Computer Science in 2022<br><br>
        My Grauation Projec is Arabic Root Extraction Game. Game that extract Arabic root word  named 'جذور', 
        by use an algorithm and Artificial intelligence <br> <br>
        <img src="{% static 'Picture1.png' %}"  class="fa fa-align-left" aria-hidden="true" ,height="100" , width="170"/>


</h5><br><br><br><br></div>
{% endblock %}